imports:
- path: https://raw.githubusercontent.com/40net-cloud/fortinet-gcp-solutions/beta/FortiGate/modules-dm/fgcp-ha-ap-multilb.jinja
  name: fgcp-ha-ap-multilb.jinja

{% set prefix = properties.prefix | default("fgt-"~properties.shortRegion) %}

resources:
# This section will deploy an A-P HA cluster of FortiGates in LB sandwich
- name: FGT-HA-AP
  type: fgcp-ha-ap-multilb.jinja
  properties:
    prefix: {{prefix}}
    zones:
    - {{properties.region}}-b
    - {{properties.region}}-c
    instanceType: e2-standard-4 #optional. defaults to e2-standard-4
    license: #optional. default: payg
      type: byol
# Uncomment the lics section below to refer to your own BYOL licenses
      lics: {{properties.licenses}}
    serialPortEnable: false
    networks:
    # Replace vpcLink, subnetLink URLs and adapt ipCidrRange CIDRs for all networks
    # in this section if reusing this configuration with your existing VPCs
    - name: untrust-vpc
      vpcLink: $(ref.untrust-vpc-global.selfLink)
      subnetLink: $(ref.untrust-sb-{{properties.shortRegion}}.selfLink)
      ipCidrRange: {{properties.cidrRanges.untrust}}
      serviceIPs: # this section triggers creation of ELB and EIP
      - name: serv1
      routes: # this section triggers creation of ILB
      - destRange: {{properties.cidrRanges.wrkld}}
        name: to-wrkld-{{properties.shortRegion}}
      - destRange: {{properties.cidrRanges.psa}}
        name: to-psa-{{properties.shortRegion}}
    - name: trust-vpc
      vpcLink: $(ref.trust-vpc-{{properties.shortRegion}}.selfLink)
      subnetLink: $(ref.trust-sb-{{properties.shortRegion}}.selfLink)
      ipCidrRange: {{properties.cidrRanges.trust}}
      routes:
      - destRange: 0.0.0.0/0
        name: default
      - destRange: {{properties.cidrRanges.onprem}}
        name: to-onprem
      - destRange: {{properties.cidrRanges.wrkld}}
        name: to-wrkld-{{properties.shortRegion}}
    - name: hasync
      vpcLink: $(ref.fgt-hasync-vpc.selfLink)
      subnetLink: $(ref.fgt-hasync-sb-{{properties.shortRegion}}.selfLink)
      ipCidrRange: {{properties.cidrRanges.hasync}}
    - name: management
      vpcLink: $(ref.fgt-mgmt-vpc.selfLink)
      subnetLink: $(ref.fgt-mgmt-sb-{{properties.shortRegion}}.selfLink)
      ipCidrRange: {{properties.cidrRanges.mgmt}}
      externalIP:
        name: mgmt
    fwConfig: |
      config router static
        edit 11
          set dst {{properties.cidrRanges.wrkld}}
          set device port2
          set gateway {{properties.trustGateway}}
        next
      end
      config system dns
        set primary 169.254.169.254
        unset secondary
      end
      config firewall address
        edit "wrkld-spoke1-sb-{{properties.shortRegion}}"
          set type dynamic
          set sdn "gcp_conn"
          set color 17
          set filter "Subnet=wrkld-spoke1-sb-{{properties.shortRegion}}"
        next
        edit "wrkld-spoke2-sb-{{properties.shortRegion}}"
          set type dynamic
          set sdn "gcp_conn"
          set color 17
          set filter "Subnet=wrkld-spoke2-sb-{{properties.shortRegion}}"
        next
        edit "gcp-frontend"
          set type dynamic
          set sdn "gcp_conn"
          set color 17
          set filter "Tag=frontend"
        next
        edit "gcp-backend"
          set type dynamic
          set sdn "gcp_conn"
          set color 17
          set filter "Tag=backend"
        next
        edit "gcp-ilb-backend"
          set type fqdn
          set fqdn "app.wrkld-ilb-backend-{{properties.shortRegion}}.il4.{{properties.region}}.lb.{{env.project}}.internal"
          set color 17
        next
        edit "wrkld-ilb-frontend"
          set type fqdn
          set fqdn "prx.wrkld-ilb-frontend-{{properties.shortRegion}}.il4.{{properties.region}}.lb.{{env.project}}.internal"
          set color 17
        next
      end
      config firewall vip
        edit "serv1-to-frontend"
          set extip $(ref.{{prefix}}-serv1.address)
          set type fqdn
          set extintf "port1"
          set mapped-addr "wrkld-ilb-frontend"
          set portforward enable
          set extport 80
          set mappedport 8080
        next
        edit "glb-to-frontend"
          set extip 0.0.0.0
          set type fqdn
          set extintf "port1"
          set mapped-addr "wrkld-ilb-frontend"
          set portforward enable
          set extport 80
          set mappedport 80
        next
      end
      config firewall policy
        edit 1
          set name "wrkld-to-inet"
          set srcintf "port2"
          set dstintf "port1"
          set action accept
          set srcaddr "wrkld-spoke1-sb-{{properties.shortRegion}}" "wrkld-spoke2-sb-{{properties.shortRegion}}"
          set dstaddr "all"
          set schedule "always"
          set service "ALL"
          set utm-status enable
          set ssl-ssh-profile "certificate-inspection"
          set av-profile "default"
          set webfilter-profile "default"
          set dnsfilter-profile "default"
          set ips-sensor "default"
          set application-list "default"
          set nat enable
          set ippool enable
          set poolname "{{prefix}}-serv1"
          set logtraffic all
        next
        edit 2
          set name "front-to-backend"
          set srcintf "port2"
          set dstintf "port2"
          set action accept
          set srcaddr "gcp-frontend"
          set dstaddr "gcp-ilb-backend"
          set schedule "always"
          set service "ALL"
          set utm-status enable
          set ssl-ssh-profile "certificate-inspection"
          set av-profile "default"
          set ips-sensor "default"
          set nat disable
          set logtraffic all
        next
        edit 3
          set name "serv1-to-frontend-tcp80-allow"
          set srcintf "port1"
          set dstintf "port2"
          set action accept
          set srcaddr "all"
          set dstaddr "serv1-to-frontend"
          set schedule "always"
          set service "ALL"
          set utm-status enable
          set ssl-ssh-profile "certificate-inspection"
          set av-profile "default"
          set ips-sensor "default"
          set logtraffic all
        next
        edit 3
          set name "glb-to-frontend-tcp80-allow"
          set srcintf "port1"
          set dstintf "port2"
          set action accept
          set srcaddr "all"
          set dstaddr "glb-to-frontend"
          set schedule "always"
          set service "ALL"
          set utm-status enable
          set ssl-ssh-profile "certificate-inspection"
          set av-profile "default"
          set ips-sensor "default"
          set logtraffic all
        next
      end
      config system interface
        edit port1
          append allowaccess probe-response
        next
      end

outputs:
- name: defaultPassword
  value: $(ref.FGT-HA-AP.defaultPassword)
- name: mgmtPublicIPs
  value: $(ref.FGT-HA-AP.mgmtPublicIPs)
